.App {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:  100%;
  
}

#root{
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:  100%;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:  100%; 
}

.App-header .App-link{
  padding: 1em;
  padding-left: 3em;
  font-size: larger;

}


.maps-links-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  width:  100%; 

}

.header-link-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7em;

}

.App-link {
  color: #61dafb;
  align-self: center;
  /*padding: 0.7em;*/
  text-decoration: none;
  
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.viz {
  width:  100%;  
}

#pack-svg,  #swarm-svg{
  max-width: 800px;
}

#swarm-div{
  width: 100%;
  max-width: 600px;
}



#mailchimp-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
